{% set theme = vim_bg | default(vim_theme | default(terminal_theme | default(false))) | string %}
{% if vim_plugs is defined %}
call plug#begin('~/.vim/plugged')
{%   for plug in vim_plugs %}
Plug '{{ plug.name | mandatory }}'{% if plug.options is defined and plug.options is iterable %}, {{ plug.options }}{% endif %}

{%   endfor %}
call plug#end()

if has('gui_running')
    set background={{ vim_guibg | default('light') }}
else
    set background={{ 'light' if theme.endswith('light') else 'dark' }}
endif

{% if vim_config is defined %}
{{ vim_config }}
{% endif %}

{%   for plug in vim_plugs %}
{%     if plug.configuration is defined or plug.commands is defined %}
"BEGIN {{ plug.name }}"
{%       for conf in plug.configuration | default({}) | dict2items %}
let g:{{ conf.key }} = {{ conf.value }}
{%       endfor %}
{%       if plug.commands is defined %}
{{ plug.commands | string }}
{%       endif %}
"END {{ plug.name }}"

{%     endif %}
{%   endfor %}
{% endif %}
